/* 主题色 */
$theme-color: #3697ff;
$danger-color: #f5222d;
$success-color: #48cb42;
$warning-color: #faad14;
$gray-color: #999;

/* 主题背景色 */
$theme-bg: #3597ff;

/* 文字颜色 */
$heading-color: #000;
$text-color: #333;
$light-color: #666;

/* hover色 */
$hover-color: #40a9ff;

/* 分割颜色 */
$line-color: #ddd;

/* 浅背景色 */
$light-bg: #f8fafb;

/* 背景 */
$bg-color: #f5f7f9;

/* 边框线 */
$border-color: #e9e9e9;
$light-border-color: #f1f1f1;

/* 间距 */
$spacing: 20px;
$spacing-h: 15px;

/* 表格头背景色 */
$table-header-bg: #f5f7f9;

/* 表格滚动条宽度 */
$table-scrollbar-width: 4px;

/* 顶部高度 */
$top-height: 48px;
$top-height-sm: 40px;

/* 左侧宽度 */
$left-width: 240px;
$left-width-sm: 200px;
$left-collapsed-width: 60px;

/* 媒体查询 */
$lg: 'screen and (min-width: 1367px)';
$sm: 'screen and (max-width: 1366px)';

@mixin mq($s) {
  @media #{$s} {
    @content;
  }
}